body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.surname {
    color: goldenrod;
}

.section-title {
    color: goldenrod;
}

.logo {
    width: 100px;
    height: 50px;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.year {
    color: darkslateblue;
}

.link {
    display: block
}

.navigation {
    list-style: none;
    display: flex;
}

.nav1 {
    margin-right: 20px;
}

.container {
    display: flex;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 4px 4px 27px 0px rgba(34, 60, 80, 0.2);
}

.left-block {
    background-color: #f2f2f2;
    width: 62%;
    padding: 20px;
}

.right-block {
    background-color: #ffffff;
    width: 38%;
    padding: 20px;
}

.avatar {
    display: block;
    width: 90%;
    margin: 15px auto;

    border-radius: 65%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}